body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Div containing List and Center information */
.body_parent {
    display: flex;
}

/* Left side bar and list attributes */
.leftSidebar {
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.styled-list {
    list-style-type: none;
    padding: 0;
    min-width: 230px;
    padding-bottom: 100px;
    margin: 10;
    max-width: 400px;
    max-height: 80%;
    font-family: Arial, sans-serif;
}

.styled-list li {
    background-color: antiquewhite;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.styled-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.item-details {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.item-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

/* Center */
.content {
    padding: 20px;
    width: 80%;
    height: 100%;
    display: block;
    background-color: #94bcdd1e;
}

.customer_name_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px;
}

/* Ensures "Cliente:" stays on the left */
.customer_name_header h2 {
    margin: 0;
    padding: 0;
}

/* Centers the client name within the container */
.customer_name_header h1 {
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
    margin: 0;
    width: 100%;
}

.service_button {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.button_add_service {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button_add_service:hover {
    box-shadow: rgba(80, 63, 205, .8) 0 1px 30px;
    transition-duration: .1s;
}

/* Services table */
.table_current_services {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table_current_services thead {
    color: #000000;
    text-align: left;
    font-weight: bold;
    width: 100%;
}

.table_current_services th, .table_current_services td {
    padding: 12px 15px;
    text-align: center;
}

.table_current_services th {
    background-color: #36304a;
    font-family: Montserrat-Medium;
    font-size: 25px;
    color: #fff;
}

.table_current_services tr:nth-of-type(odd) {
    background-color:#36304a3b;
}

.table_current_services tr:hover {
    cursor: pointer;
    background-color: lightyellow;
}

.table_image {
    max-width: 18px;
    max-height: 18px;
}

/* Form popup styling */
.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    z-index: 9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: max-content  ;
    padding: 20px;
}

.table_add_service th,
.table_add_service td {
    text-align: center;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td input[type="text"],
td input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

td p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.button-container {
    text-align: center;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.cancel {
    background-color: #f44336;
}

.cancel:hover {
    background-color: #e53935;
}

.select_service_drop_down{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
  }

.select_service_drop_down:focus{
    outline:none;
}
