<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
      <div class="leftSidebar">
         <h2 style="text-align: center">Serviços Abertos</h2>
         <ul class="styled-list">
            {% for service in services %}
            <li onclick="onQuotationSelected('{{ service.id }}', '{{ service.name }}')">
                <div class="item-header">{{ service.name }}</div>
                <div class="item-details">Orçamento Atual: {{ service.total_price }}</div>
                <div class="item-details">Criado em: {{ service.created_at }}</div>
            </li>
            {% endfor %}
        </ul>
        
      </div>
      <div class="content">
         <div class="middle">
            <!-- Conteúdo do meio -->
        </div>
        <div class="right">
            <!-- Conteúdo da direita -->
        </div>
    </div>
</body>
</html>
