<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="../static/scripts/script.js"></script>
</head>
<body>
    <head>

    </head>
    <div class="body_parent">
        <div class="leftSidebar">
            <h2 style="text-align: center">Serviços Abertos</h2>
            <ul class="styled-list">
                {% for service in services %}
                <li id='{{ service.id }}' onclick="onQuotationSelected('{{ service.id }}', '{{ service.name }}')">
                    <div class="item-header">{{ service.name }}</div>
                    <div class="item-details">Orçamento Atual: R$ {{ service.total_price }}</div>
                    <div class="item-details">Criado em: {{ service.created_at }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            <div class="customer_name_header">
                <h2>Cliente:</h2>
                <h1 id="client_name"></h1>
            </div>
            <hr class="solid">
            <div class="service_button">
                <h2>Serviços:</h2>
                <button class="button_add_service" onclick="openForm()">+ Adicionar Serviço</button>
            </div>
            <table id="services_table" class="table_current_services">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column2" data-column="column2">Serviço</th>
                        <th class="column100 column3" data-column="column3">Quantidade</th>
                        <th class="column100 column4" data-column="column4">Valor Unitário</th>
                        <th class="column100 column5" data-column="column5">Valor Total</th>
                        <th class="column100 column5" data-column="column5">Delete</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="form-popup" id="add_service_form">
                <form class="form-container" onsubmit="false">
                    <h1>Adicionar Serviço</h1>
                    <table class="table_add_service">
                        <tr>
                            <th><label for="selected_service"><b>Serviço</b></label></th>
                            <th><label for="quantity"><b>Quantidade</b></label></th>
                            <th><label><b>Valor Unitário</b></label></th>
                            <th><label><b>Valor Total</b></label></th>
                        </tr>
                        <tr>
                            <td><select id="selected_service" class="select_service_drop_down" onchange="updatePopup(event)" required></select></td>
                            <td><input id="quantity" type="number" min="1" oninput="updatePrice()" onchange="updatePrice()" value="1" required></td>
                            <td><p id="unit_price">R$ 00,00</p></td>
                            <td><p id="total_price">R$ 00,00</p></td>
                        </tr>
                    </table>
                    <div class="button-container">
                        <button type="button" onclick="addNewService()" class="btn">Adicionar</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
